:root {
  --mu-red: #DA291C;
  --mu-red-dark: #a01f15;
}

html {
  font-size: 14px;
}

.bg-mu {
  background-color: var(--mu-red) !important;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .nav-link:hover {
  color: rgba(255, 255, 255, 0.9) !important;
}

.navbar-logo {
  height: 36px;
  width: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}